.menuPrincipal{
  display: grid;
  grid-template-areas: 
  "titulo""listado""carrito";
  grid-template-columns: 30% 55% 15%;
}
.nav{
  list-style: none;
  display: flex;
  justify-content: right;
}
.navItem{
  width: 150px;
  background-color: #ac9288;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
}
.navItem:hover{
  background-color:#d4b6aa ;
}
.btnCarrito{
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background-color: #d4b6aa;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  color:#ac9288;
  text-align: center;
  
}
.descripcionH1{
  font-size: 20px;
  font-family:'Ubuntu', sans-serif ;
  text-align: center;
}
.btnContadorMenos{
  grid-area: menos;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: #d4b6aa ;
}
.btnContadorMas{
  grid-area: mas;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: #d4b6aa ;
}
.numeroContador{
  grid-area: contador;
  margin-left: 75px;
  margin-right: 75px;
}
.btnSumarCarrito{
  grid-area: sumar;
  width: 230px;
  height: 30px;
  background-color: #ac9288;
  border-radius: 5px;
}

